@charset "UTF-8";
html, body {
	height: 100%;
	margin: 0;
}
body {
	margin: 50px 200px 0 200px;
	text-align: center;
}

#writeArea {
	width: 100%;
	padding: 0px 200px; 
}

.paging {
	cursor: pointer; 
}

.mr-10 {
	margin: 10px 0;
}

.mr-top {
	margin-top: 100px;
}